:root {
  --Zero: #0f0f0f;
  --One: #151515;
  --Two: #1a1a1a;
  --Three: #242424;
  --Four: #383838;
  --Five: #626262;
  --Six: #c0c0c0;
  --Seven: #ffffff;
--green: #63b456;
--greenHover: #47ff60;
--blue: #4894fe;
--blueHover: #82c7ff;
--orange: #ce9178;
--font-family: "Lucida Console", "Courier New", monospace;
--padding: 16px;
--thumb: #525252;
--thumbHover: #7a7a7a;
}
    * { 
      margin: 0; padding: 0; box-sizing: border-box; }

/* width */
::-webkit-scrollbar {
width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
background: var(--Zero);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--thumbHover);
}

button:hover {
  background: var(--greenHover);
  border-top: 2px solid var(--Zero);
}

.Freep0rt,
.qu4d-1,
.qu4d-2 {position: fixed;width: 100%;padding: var(--padding);background: var(--One);z-index: 1;}

.qu4d-1,
.qu4d-2 {
margin: unset;
}

.qu4d-1:hover,
.qu4d-2:hover {
background: var(--One);
}

.qu4d-1 {
top: px;
}

.qu4d-2 {
top: 117px;
}

.borderTop {
margin: unset;
}

.gray-2,
h3 {color: var(--Six);}

.gray-1 {color: var(--Five);}

.gray0 {
color: var(--Zero);
}

.gray1 {
color: var(--Zero);
}

.gray2 {
color: var(--One);
}

.green {
color: var(--green);
text-decoration: none;
}

a.green:link {color: var(--green);text-decoration: none;}

a.green:hover {
color: var(--greenHover);
text-decoration: underline;
}

.menu {
  margin: -16px -16px 16px -16px;
  padding: 16px;
  background: var(--Two);
}

a.green:hover {color: var(--greenHover);text-decoration: underline;}

.blue {
color: var(--blue);
}

.orange {
color: var(--orange);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {background: var(--One);color: var(--Five);font-family: var(--font-family);}

/* .menuButton {
position: absolute;
bottom: 16px;
right: 16px;
}

.menuBars {
  width: 20px;
  height: 4px;
  background-color: var(--Five);
  margin: 4px 0;
}*/

@media screen and (min-width: 769px) {

.TopRow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--padding);
  background: var(--One);
  z-index: 1;
}

.row {
  position: absolute;
  top: 64px;
}

.Freep0rt {
  float: left;
  width: 256px;
  height: 100%;
  border-right: 2px solid var(--Zero);
  border-bottom: unset;
}

.qu4d-1 {
top: 64px;
}

.qu4d-2 {
top: 149px;
}

.qu4d-1,
.qu4d-2,
.borderTop {
  margin-left: 256px;
}

.qu4d-1BorderTop {
  margin: -16px -16px 16px -16px;
  border-top: 2px solid var(--One);
}

.Freep0rt a {
  display: block;
  padding-bottom: var(--padding);
  border-bottom: 2px solid var(--Zero);
}

.menu:hover {
background: var(--Three);
border-top: 2px solid var(--Two);
border-bottom: 2px solid var(--Three);
}

.menu {
  padding-top: var(--padding);
  background: var(--Two);
  border-top: 2px solid var(--Three);
}

    #main {
  padding-top: 138px!important;
      padding-left: 256px;
    } 
    form input {
  border: 0;
  margin-right: unset!important;
  background: var(--Zero);
  color: var(--green);
  width: calc(100% - 64px)!important;
  }
    form {
      padding-right: 253px;
    }
    #messages {
  position: relative;
}

}
    form { width: 100%; }
    form input {
  border: 0;
  padding: calc(var(--padding) - 2px);
  width: calc(100% - 64px)!important;
  background: var(--Zero);
  border-top: 2px solid var(--Three);
  border-bottom: 2px solid var(--Zero);
  color: var(--green);
  }
    :focus-visible {
        outline: unset;
    }
    form button {background: var(--green);border-bottom: 2px solid var(--Three);padding: calc(var(--padding) - 2px);}
    #messages {list-style-type: none;margin: 0;margin-bottom: 80px;}
    #messages li { padding-top: var(--padding);
      margin-left: 16px;
    }
    #messages li:nth-child(odd) { background: var(--One); }
    #main {
      overflow: auto;
      padding-top: 154px;
      z-index: 0;
    } 
    #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }